<% if current_user %>
<center><h1>Créer votre annonce</h1></center>
<br>
<%= render 'form', annonce: @annonce %>
<% else %>
<h1> Vous devez être authentifié pour créer une annonce !!!!</h1>
<%= link_to '<div>Cliquez ici pour vous connecter</div>'.html_safe, new_user_session_path %>
<%= link_to '<div>Cliquez ici pour vous inscrire</div>'.html_safe, new_user_registration_path %>   
<% end %>

